<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog detail</title>
</head>
<body>
    <a href="{% url 'blog:blogs' %}">Back</a>
    <h1>Blog detail</h1>
        <h3>{{ blog.title }}</h3>
        <img src="{{ blog.image.url }}" alt="" style="width:300px" />
        <p>{{ blog.body }}</p>
        <hr>
        <a href="{% url 'blog:update' blog.pk %}">Update</a>
        <a href="{% url 'blog:delete' blog.pk %}">Delete</a>
</body>
</html>